.header {
    background-color: #3a3a3a;
    color: #fff;
}

.header-content{
    padding-left: 10%;
    padding-right: 10%;
}

.header-logo img {
    height: 50px;
}

.header-login {
    font-size: 18px;
}

a{
    text-decoration: none;
}

.productos-busqueda{
    z-index: 1;
    width: 56%;
    position: absolute;
    top:60px;
    padding-left: 25px;
}

@media (max-width: 767px) {
    .navbar{
        padding-left: 0;
        padding-right: 0;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .desplegable{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .dropdown-menu{
        width: 250px;
    }

    .navegador{
        display: flex;
        align-items: center;
    }

    li{
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .buscador-productos{
        margin-top: 5px;
    }

    .cesta{
        width: 240px;
    }

    form{
        justify-content: center;
    }
    
}