a{
    text-decoration: none;
}

.menu{
    width: 65vw;
}

.barra-menu{
    padding-top: 28px;
    margin-bottom: 3px;
}

.menu-producto{
    margin-top: 35px;
}

.primera-parte-menu-catalogo{
    margin-top: 20px;
    padding-bottom: 30px;
}

.segunda-parte-menu-catalogo{
    margin-left: 20px;
    padding-bottom: 30px;
}

.caja-producto{
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.2);
    width: 60vw;
    height: 60vh;
}

.pastilla-comprar{
    padding: 20px;
}

.sombra{
    box-shadow: 0px 4px 6px 1px rgba(73, 73, 73, 0.2);
}

.sombra-suave{
    box-shadow: 0px 1px 1px 1px rgba(105, 105, 105, 0.2);
}

@media (max-width: 767px) {

    .barra-menu {
        display: none
    };

    .menu-producto{
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    #carouselExampleControls{
        padding-top: 15px;
    }

    .primera-parte-menu-catalogo{
        align-items: center;
    }
    
    .segunda-parte-menu-catalogo{
        align-items: center;
    }

    .caja-producto{
        width: 100%;
        height: 100%;
        margin-bottom: 150px;
    }

    .link-volver{
        display: none;
    }

    .contenido-ficha-producto{
        flex-direction: column;
    }

    .datos-producto{
        width: 300px;
    }

    .pastilla-comprar{
        width: 300px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1920px) {

    .caja-producto{
        height: 600px;
        margin-bottom: 100px;
    }

    .pastilla-producto{
        height: 600px;
    }


    .carousel{
        top:20px;
        padding-top: 10px;
        padding-bottom: 15px;
        height: 550px;
        width: 550px;
    }
    
    img{
        height: 550px;
        width: 550px;
    }

}

@media (min-width: 992px) and (max-width: 1920px) and (min-height: 1000px) and (max-height:1307px){


}

@media (min-width: 1921px){

    .caja-producto{
        margin-bottom: 100px;
    }

    .pastilla-producto{
        height: 60vh;
    }

    .carousel{
        top: 80px;
        padding-top: 10px;
        padding-bottom: 15px;
        height: 610px;
        width: 610px;
    }
    
    img{
        height: 760px;
        width: auto;
    }

}