<div class="slider"></div>

<div class="row d-flex flex-column justify-content-center align-items-center">
    <div class="col-4 m-4 d-flex flex-column justify-content-center align-items-center">
        <h1>¡ Bienvenid@ a BM CLOTHINGS !</h1>
        <p class="col-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quia molestiae fugit, sequi repellendus ducimus quis! In quidem ratione odio, error dolor maiores quis hic, eius ipsum, natus porro aliquam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident molestias voluptates ratione sapiente doloribus dolorum velit quae deserunt vero perferendis blanditiis obcaecati labore excepturi eius ab deleniti, numquam enim cupiditate.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab consequatur dolorum distinctio dolor eum earum facere possimus, architecto provident. Blanditiis in repudiandae excepturi facilis pariatur rerum officiis veritatis omnis consectetur?</p>
    </div>
</div>