<div class="row">
    <div class="col">
        <div class="inicio d-flex flex-column">
            <div class="slider" title="Imagen principal , muestra a modelos de la marca vistiendo nuestra ropa."></div>

            <div class="row d-flex flex-column justify-content-center align-items-center">
                <div class="col d-flex flex-column justify-content-center align-items-center">

                    <section class="section py-4">
                        <div class="container">
                          <div class="row">
                            <div class="col my-4 text-black py-3 d px-3">
                              <h2>¡ Bienvenid@s a BM CLOTHINGS ,</h2>
                              <p> donde la moda y el estilo se fusionan ! Nos enorgullece ofrecerte una amplia gama de prendas diseñadas para destacar tu individualidad y realzar tu belleza.</p>
                              <p>En nuestra marca, nos esforzamos por crear diseños únicos y vanguardistas que te hagan sentir confiado/a y a la moda en cualquier ocasión. Nuestro equipo de diseñadores trabaja arduamente para capturar las últimas tendencias y adaptarlas a nuestro estilo distintivo.</p>
                              <p>Explora nuestra colección y descubre prendas elegantes, cómodas y con un toque de originalidad. ¡Estamos seguros de que encontrarás algo que te encante!</p>
                            </div>
                            <div class="col d-flex justify-content-center align-items-center">
                              <img src="/assets/content/landpage-1.png" title="Muestra una imagen de la primera edición de la marca."  alt="Imagen 1" class="img-fluid img-section border rounded">
                            </div>
                          </div>
                        </div>
                    </section>
                      
                      <section class="section bg-light text-black py-4">
                        <div class="container">
                          <div class="row">
                            <div class="col d-flex justify-content-center align-items-center">
                              <img src="/assets/content/landpage-2.png" title="Muestra a dos modelos de la marca posando."  alt="Imagen 2" class="img-fluid img-section border rounded">
                            </div>
                            <div class="col py-5">
                              <h2>Nuestros productos son de calidad excepcional.</h2>
                              <p>En nuestra tienda, nos comprometemos a ofrecerte productos de la más alta calidad. Trabajamos con los mejores materiales y prestamos atención a cada detalle para garantizar que nuestras prendas sean duraderas, cómodas y resistentes al paso del tiempo.</p>
                              <p>Nuestro equipo de expertos en calidad realiza rigurosas pruebas para asegurarse de que cada prenda cumpla con nuestros estándares. Además, colaboramos con proveedores de confianza que comparten nuestra pasión por la excelencia y la ética en la fabricación de ropa.</p>
                              <p>Estamos comprometidos con tu satisfacción y confianza. Comprar en nuestra tienda es una garantía de recibir productos de calidad que te acompañarán en tu estilo de vida y te harán sentir especial en cada ocasión.</p>
                            </div>
                          </div>
                        </div>
                      </section>
                      
                      <section class="section py-4">
                        <div class="container">
                          <div class="row">
                            <div class="col py-5">
                              <h2>Compra con confianza.</h2>
                              <p>En nuestra tienda de ropa, tu satisfacción es nuestra máxima prioridad. Queremos que te sientas seguro/a y confiado/a al realizar tus compras con nosotros.</p>
                              <p>Ofrecemos un servicio al cliente excepcional, donde nuestro equipo está listo para ayudarte en cualquier consulta o duda que puedas tener. Además, contamos con una política de devoluciones flexible para que puedas comprar sin preocupaciones.</p>
                              <p>Confía en nosotros para proporcionarte una experiencia de compra cómoda, segura y gratificante. Estamos emocionados de formar parte de tu viaje de estilo y esperamos brindarte la mejor atención y calidad en cada compra que realices.</p>
                            </div>
                            <div class="col d-flex justify-content-center align-items-center">
                              <img src="/assets/content/landpage-3.png" title="Muestra una imagen que hace referencia a la logística de la tienda." alt="Imagen 3" class="img-fluid img-section border rounded">
                            </div>
                          </div>
                        </div>
                      </section>
                      
                </div>
            </div>
        </div>
    </div>
</div>