section{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.seccion-contenido{
    display: flex;
}

.slider {
    padding-top: 15px;
    height: 60vh;
    background-color: white;
    background-image: url("/assets/content/landpage-principal.png");
    background-size: cover;
    background-position: center;
}

.slider-movil{
    display: none;
    padding-top: 15px;
    height: 60vh;
    background-color: white;
    background-image: url("/assets/content/landpage-movil.png");
    background-size: cover;
    background-position: center;
}

.inicio{
    background-color: #7b7b7b;
    background-image: linear-gradient(0deg, #7b7b7b 0%, #ffffff 100%);


    color: white;
}

.img-section{
    width: 450px;
    height: auto;
}

@media (max-width: 767px) {
    .slider{
        display: none;
    }

    .slider-movil{
        display: block;
    }

    .seccion-contenido{
        flex-direction: column;
    }

    .invertido{
        flex-direction: column-reverse;
    }

}