<form class="px-3 d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="inputNombre">Nombre</label>
                <input type="text" class="form-control" id="inputNombre" aria-describedby="emailHelp" placeholder="Introduce tu nombre">
            </div>
            <div class="form-group">
                <label for="inputApellidos">Apellidos</label>
                <input type="text" class="form-control" id="inputApellidos" aria-describedby="emailHelp" placeholder="Introduce tus apellidos">
            </div>
            <div class="form-group">
              <label for="inputDireccion">Dirección</label>
              <input type="text" class="form-control" id="inputDireccion" aria-describedby="emailHelp" placeholder="Introduce tu dirección">
            </div>
            <div class="form-group">
                <label for="inputTelefono">Teléfono</label>
                <input type="text" class="form-control" id="inputTelefono" aria-describedby="emailHelp" placeholder="Introduce tu telefono">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Introduce tu email">
            </div>
            <div class="form-group">
              <label for="inputPassword">Contraseña</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña">
            </div>
            <div class="form-group">
              <small class="form-check-label" for="exampleCheck1">¿ Ya tienes cuenta ?<a href="/acceso/login"> Login</a></small>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Registrate</button>
</form>