.caja-perfil{
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.2);
    width: 75vw;
}

.sombra{
    box-shadow: 0px 4px 6px 1px rgba(73, 73, 73, 0.2);
}

.sombra-suave{
    box-shadow: 0px 1px 1px 1px rgba(105, 105, 105, 0.2);
}

.seccion-menu{
    width: 16%;
}

.seccion-datos{
    width: 82%;
    padding-left: 10px;
}

.perfil{
    padding-left: 15px;
    padding-right: 15px;
}

.pastilla-perfil{
    gap: 10px;
    margin: 20px;
    padding: 10px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


@media (max-width: 767px) {

    cdk-virtual-scroll-viewport{

        height: 400px;
    }

    .caja-perfil{
        height: 100%;
        width: 100vw;
    }

    .perfil{
        padding-top: 40px;
        margin-bottom: 50px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .pastilla-perfil{
        height: 100%;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    
    .seccion-menu{
        width: 100%;
    }

    .seccion-datos{
        width: 100%;
    }

    h1{
        text-align: center;
        padding-bottom: 10px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1920px) {

    .caja-perfil{
        margin-bottom: 40px;
    }

    .pastilla-perfil{
        height: 60vh;
    }

    cdk-virtual-scroll-viewport{

        height: 450px;
    }

}

@media (min-width: 992px) and (max-width: 1920px) and (min-height: 1000px) and (max-height:1307px){

    cdk-virtual-scroll-viewport{

        height: 700px;
    }

}

@media (min-width: 1921px){

    .pastilla-perfil{
        height: 60vh;
    }

    cdk-virtual-scroll-viewport{

        height: 600px;
    }

}