<ul class="navbar-nav mr-auto desplegable">
    <li class="nav-item dropdown desplegable">
        <button class="btn btn-secondary dropdown-toggle w-100 boton-desplegable-cuenta" type="button" id="cuentaDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{nombre}}
        </button>
        <div class="dropdown-menu dropdown-menu-right mt-2" aria-labelledby="navbarDropdown">
            <a *ngIf="admin == false" class="dropdown-item" href="/cuenta/perfil">Perfil</a>
            <a *ngIf="admin == false" class="dropdown-item" href="/cuenta/perfil/pedidos">Pedidos</a>
            <a *ngIf="admin == true" class="dropdown-item" href="/cuenta/perfil">Gestión</a>
            <div class="dropdown-divider"></div>
            <a (click)="logOut()" class="dropdown-item" href="">Logout</a>
        </div>
    </li>
</ul>