<ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="cuentaDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{nombre}}
        </button>
        <div class="dropdown-menu dropdown-menu-right mt-2" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/cuenta/perfil">Perfil</a>
            <a class="dropdown-item" href="/cuenta/pedidos">Pedidos</a>
            <div class="dropdown-divider"></div>
            <a (click)="logOut()" class="dropdown-item" href="">Logout</a>
        </div>
    </li>
</ul>