<footer class="footer px">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <h3>CONOCE NUESTROS PRODUCTOS</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis nunc a lorem eleifend ullamcorper sed vel
          turpis.</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <h3>QUIENES SOMOS</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis nunc a lorem eleifend ullamcorper sed vel
          turpis.</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <h3>CONTACTO</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis nunc a lorem eleifend ullamcorper sed vel
          turpis.</p>
      </div>
    </div>
  </footer>