footer {
    position : relative;
    bottom : 0;
    height: auto;
}

.footer-top{
  height: 17vh;
}

.footer-top-content{
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.footer-bottom{
  background-color: #1b1b1b;
  color: #fff;
}

.footer-bottom-content{
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

img{
  height: 40px;
  width: 120px;
}

.img-logo{
  height: auto;
  width: 150px;
}

.img-icon{
  height: 35px;
  width: auto;
}

@media (min-width: 1921px){

  .footer-top{
    height: 13vh;
  }

}