<footer class="d-flex flex-column">
  <div class="footer-top bg-light py-4">

    <div class="footer-top-content d-flex gap-4">

      <div class="col-sm-12 col-md-4 d-flex flex-column">
        <h6 class="pb-1">MÉTODOS DE PAGO</h6>
        <div class="d-flex gap-2">
          <img src="/assets/footer/stripe-logo.svg" alt="" class="border">
          <img src="/assets/footer/paypal-logo.jpg" alt="" class="border">
        </div>
      </div>
      <div class="col-sm-12 col-md-4 d-flex flex-column">
        <h6 class="pb-1">MÉTODOS DE ENVÍO</h6>
        <div class="d-flex gap-2">
          <img src="/assets/footer/mrw-logo.jpg" alt="" class="border">
          <img src="/assets/footer/correos-logo.jpg" alt="" class="border">
        </div>
      </div>
      <div class="col-sm-12 col-md-4 d-flex flex-column">
        <h6 class="pb-1">SEGURIDAD WEB</h6>
        <div class="d-flex gap-2">
          <img src="/assets/footer/geotrust-logo.jpg" alt="" class="border">
        </div>
      </div>

    </div>

  </div>
  <div class="footer-bottom border pt-3 pb-3">

    <div class="footer-bottom-content d-flex justify-content-between">

      <div class="col-sm-12 col-md-4 d-flex flex-column gap-4 contenedor-logo">
        <img src="/assets/LOGO BM BUENO.png" alt="" class="img-logo">
        <small>Av. Andalucia nº 11 , 03502 , Benidorm (Alicante)</small>
      </div>
      <div class="col-sm-12 col-md-4 d-flex flex-column align-items-center justify-content-center">
        <small><strong>Copyright © BM CLOTHINGS. Todos los derechos reservados.</strong></small>
      </div>
      <div class="col-sm-12 col-md-4 d-flex align-items-center gap-2 contenedor-redes">
        <img src="/assets/footer/fb-icon.png" alt="" class="img-icon">
        <img src="/assets/footer/insta-icon.png" alt="" class="img-icon">
        <img src="/assets/footer/twitter-icon.png" alt="" class="img-icon">
        <img src="/assets/footer/whatssapp-icon.png" alt="" class="img-icon">
      </div>
      
    </div>

  </div>

</footer>