footer {
    position : relative;
    bottom : 0;
    height: auto;
}

.footer-top{
  height: 17vh;
}

.footer-top-content{
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.footer-bottom{
  background-color: #1b1b1b;
  color: #fff;
}

.footer-bottom-content{
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.contenedor-redes{
  justify-content: end;
}

img{
  height: 40px;
  width: 120px;
}

.img-logo{
  height: auto;
  width: 150px;
}

.img-icon{
  height: 35px;
  width: auto;
}

@media (max-width: 767px) {

  .footer-top{
    height: auto;
  }
  
  .footer-top-content{
    flex-direction: column;
  }

  .footer-bottom{
    height: auto;
  }

  .footer-bottom-content{
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }

  .contenedor-logo{
    justify-content: center;
    align-items: center;
  }

  .contenedor-redes{
    justify-content: center;
  }

}

@media (min-width: 1921px){

  .footer-top{
    height: 13vh;
  }

}