img{
    height: 40px;
    width: 120px;
  }

.compra{
    flex-grow: 1;
    min-height: calc(100vh - 239px);
}

textarea{
    overflow: scroll;
    resize: none;
}

.pastilla-compra{
    background-color: rgba(240, 240, 240, 0.952);
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.2);
    height: 65vh;
    width: 66%;
}

.pastilla-pago{
    background-color: rgba(255, 255, 255, 0.863);
}

@media (max-width: 767px) {

    .slider{
        display: none;
    }

    .compra{
        position: relative;;
        left: -30px;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;
    }

    .formulario{

        width: 100%;

    }

    .pastilla-compra{
        height: 100%;
        margin-bottom: 15px;
    }

    .pastilla-pago{
        flex-direction: column;
        align-items: start;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .slider {
        height: 72vh;
        background-image: url("/assets/content/compra-slider.png");
        background-size: cover;
        background-position: center;
    }
}

@media (min-width: 992px) and (max-width: 1920px) {

    .slider {
        height: 87vh;
        background-image: url("/assets/content/compra-slider.png");
        background-size: cover;
        background-position: center;
    }

    .formulario{
        height: 83vh;
    }

}

@media (min-width: 992px) and (max-width: 1920px) and (min-height: 1000px) and (max-height:1307px){

    .slider {
        height: 82vh;
        background-image: url("/assets/content/compra-slider.png");
        background-size: cover;
        background-position: center;
    }

}

@media (min-width: 1921px){

    .slider {
        height: 83vh;
        background-image: url("/assets/content/compra-slider.png");
        background-size: cover;
        background-position: center;
    }

    .formulario{
        height: 58vh;
    }

}