<h2 class="border-bottom pt-2">Datos de acceso</h2>
<form class="pb-3">
    <div class="form-group">
      <label for="inputEmailActual">Email</label>
      <input type="email" class="form-control" id="inputEmailActual" aria-describedby="emailActualHelp" placeholder="Introduce tu email">
    </div>
    <div class="form-group">
      <label for="inputTelefono">Teléfono</label>
      <input type="text" class="form-control" id="inputTelefono" placeholder="Teléfono">
    </div>
    <div class="form-group">
        <label for="inputPasswordNueva">Contraseña</label>
        <input type="password" class="form-control" id="inputPasswordNueva" placeholder="Password">
    </div>
    <hr>
    <div class="form-group">
      <label for="inputPasswordActual">Contraseña actual</label>
      <input type="password" class="form-control" id="inputPasswordActual" aria-describedby="passwordActualHelp" placeholder="Contraseña">
      <small id="passwordActualHelp" class="form-text text-muted">Introduce tu contraseña actual para poder cambiar tus datos de acceso.</small>
    </div>
    
    <button type="submit" class="btn btn-secondary dark">Modificar</button>
</form>