<h2 class="border-bottom pt-2">Datos de envío</h2>
<form class="pb-3">
    <div class="form-group">
      <label for="inputNombre">Nombre</label>
      <input type="text" class="form-control" id="inputNombre" placeholder="Introduce tu nombre">
    </div>
    <div class="form-group">
        <label for="inputApellidos">Apellidos</label>
        <input type="text" class="form-control" id="inputApellidos" placeholder="Introduce tus apellidos">
    </div>
    <div>
        <div class="form-group">
            <label for="inputCiudad">Ciudad</label>
            <input type="text" class="form-control" id="inputCiudad" placeholder="Introduce tu ciudad">
        </div>
        <div class="form-group">
            <label for="inputCp">CP</label>
            <input type="text" class="form-control" id="inputCp" placeholder="Introduce tu cp">
        </div>
    </div>
    <div class="form-group">
        <label for="inputDireccion">Dirección</label>
        <input type="text" class="form-control" id="inputDireccion" placeholder="Introduce tu dirección">
    </div>
    <div class="form-group">
        <label for="inputTelefono">Teléfono</label>
        <input type="text" class="form-control" id="inputTelefono" placeholder="Teléfono">
    </div>
    
    <button type="submit" class="btn btn-secondary dark">Modificar</button>
</form>