a{
    text-decoration: none;
}

img{
    width: 60px;
    height: 60px;
}

.cesta{
    background-color: rgb(231, 231, 231);
}

.caja-cesta{
    background-color: rgb(248, 247, 247);
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.2);
    width: 75vw;
}

.pastilla-cesta{
    margin: 20px;
    padding: 10px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sombra{
    box-shadow: 0px 4px 6px 1px rgba(73, 73, 73, 0.2);
}

.sombra-suave{
    box-shadow: 0px 1px 1px 1px rgba(105, 105, 105, 0.2);
}

.sombra-producto{
    background-color: rgba(224, 222, 222, 0.418);
    box-shadow: 1px 1px 1px 0px rgba(105, 105, 105, 0.2);
}

.fondo{
    background-image: url('/assets/content/cesta-fondo.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    height: 83vh;
}


@media (max-width: 767px) {

    .cesta{
        height: 750px;
        top: -13px;
    }

    .fondo{
        display: none;
    }

    cdk-virtual-scroll-viewport{

        height: 450px;
    }

    .caja-cesta{
        width: 100%;
        padding-top: 25px;
        
    }

    .pastilla-cesta{
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }

    h1{
        text-align: center;
        padding-top: 10px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {



}

@media (min-width: 992px) and (max-width: 1920px) {

    .fondo{
        height: 90vh;
    }

    .caja-perfil{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .pastilla-cesta{
        height: 100%;
    }
    
    cdk-virtual-scroll-viewport{

        height: 410px;
    }

    .pastilla-resumen{
        height: 100px;
    }

}

@media (min-width: 992px) and (max-width: 1920px) and (min-height: 1000px) and (max-height:1307px){

    cdk-virtual-scroll-viewport{

        height: 700px;
    }

}

@media (min-width: 1921px){

    .pastilla-cesta{
        height: 60vh;
    }

    cdk-virtual-scroll-viewport{

        height: 600px;
    }

}