.disabled{
    box-shadow: none;
}



@media (max-width: 767px) {

    
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1920px) {

    .formulario{
        height: 43vh;
    }

}

@media (min-width: 992px) and (max-width: 1920px) and (min-height: 1000px) and (max-height:1307px){


}

@media (min-width: 1921px){

    .formulario{
        height: 41vh;
    }

}