<h3 class="border-bottom pt-2">Pedidos</h3>
<cdk-virtual-scroll-viewport itemSize="20">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Fecha</th>
                <th>Productos</th>
                <th>Coste</th>
            </tr>
        </thead>
        <tbody>
            <tr *cdkVirtualFor="let pedido of pedidos">
                <td>{{pedido.id}}</td>
                <td>{{pedido.usuario.email}}</td>
                <td>{{pedido.fecha}}</td>
                <td>{{pedido.productos.length}}</td>
                <td>{{pedido.coste_total}}</td>
                <td><button class="btn btn-info"><a href="/cuenta/perfil/pedidos/{{pedido.id}}">Ver</a></button></td>
            </tr>
        </tbody>
    </table>
</cdk-virtual-scroll-viewport>