.acceso{
    flex-grow: 1;
    min-height: calc(100vh - 239px);
}



@media (max-width: 767px) {
    /* reglas CSS para pantallas pequeñas */
  }

@media (min-width: 768px) and (max-width: 991px) {
    .slider {
        height: 72vh;
        background-image: url("https://picsum.photos/1080/2440");
        background-size: cover;
        background-position: center;
    }
}

@media (min-width: 992px) and (max-width: 1920px) {

    .slider {
        height: 77vh;
        background-image: url("https://picsum.photos/1080/2440");
        background-size: cover;
        background-position: center;
    }

}

@media (min-width: 992px) and (max-width: 1920px) and (min-height: 1000px) and (max-height:1307px){

    .slider {
        height: 82vh;
        background-image: url("https://picsum.photos/1080/2440");
        background-size: cover;
        background-position: center;
    }

}

@media (min-width: 1921px){

    .slider {
        height: 82vh;
        background-image: url("https://picsum.photos/1080/2440");
        background-size: cover;
        background-position: center;
    }

}